  <div class="container-fluid p-5 bg-black text-white mt-5" >
    <div class="row justify-content-center">
        <div class="first col-md-3">
            <h4>HELP & SUPPORT</h4>
            <ul class="list-unstyled">
                <li>🛍️Shopping Info</li>
                <li>↩️Returns</li>
                <li>📦How to Order</li>
                <li>📤How to Track</li>
                
            </ul>
        </div>
        <div class="second col-md-3">
            <h4>CUSTOMER CARE</h4>
            <ul class="list-unstyled">
                <li>📞9861447181 </li>
                <li>📧nk@gmail.com</li>
                <li>🌐SOD.com</li>
                <li>📍Kirtiur 4470</li>
                
            </ul>
        </div>
        <div class="third col-md-3">
             <h4>HOME </h4>
            <ul class="list-unstyled">
                <li>ℹ️ About Us</li>
                <li>⛂ Categories</li>
                <li>💁🏻Help</li>
                <li>🦯WEB Guide</li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer">
    &copy; 2020 SportsWear.com presented by Nabin
  </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


